{% block _app_user_registration_birthDate_row %}
    <div class="birth-date-container hidden">
        {{ form_row(form) }}
    </div>
{% endblock _app_user_registration_birthDate_row %}

{% block _app_user_registration_specialty_row %}
    <div class="specialty-container hidden">
        {{ form_row(form) }}
    </div>
{% endblock _app_user_registration_specialty_row %}
