{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
    <div class="form-group">
        <!-- элемент input с id = datetimepicker1 -->
        <div class="input-group" id="datetimepicker1">
            <input type="text" class="form-control" />
            <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock javascript %}